.AcademicExperience_container {
  text-align: left;
}

.AcademicExperience_endDate {
  color: grey;
  margin-left: 50%;
  border-top: dotted grey 1px;
  margin: 0.1em;
}

.AcademicExperience_startDate {
  color: grey;
  margin-left: 50%;
  border-bottom: dotted grey 1px;
  margin: 0.1em;
}

.AcademicExperience_card {
  text-align: left;
  margin: 0 !important;
}

.AcademicExperience_picture {
  height: 35px;
  width: 35px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.AcademicExperience_institution {
  margin: 0;
  font-weight: bold;
}

.AcademicExperience_institution a {
  text-decoration: none;
  color: black;
}

.AcademicExperience_type {
  margin: 0;
}

.AcademicExperience_points {
  list-style: none;
  padding: 0;
}

.AcademicExperience_points a {
  text-decoration: none;
  color: black;
}

.AcademicExperience_point {
  display: flex;
  flex-direction: row;
}

.AcademicExperience_pointDescription {
  display: block;
  flex: 1; 
  margin: 0.1em;
  padding: 0.2em;
}

.AcademicExperience_course,
.AcademicExperience_project,
.AcademicExperience_open {
  display: block;
  padding: 0.2em;
  margin: 0.1em;
  width: 6.1em;
  height: 1.7em;
  border-radius: 0.2em;
  font-variant: small-caps;
}

.AcademicExperience_course {
  color: white;
  background-color: #3B5998;
}

.AcademicExperience_project {
  color: white;
  background-color: #59983b;
}

.AcademicExperience_open {
  color: white;
  background-color: #4b3b98;
}
