body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media print {
  body {
    font-size: 12px;
  }

  .WorkExperience_highlight,
  .WorkExperience_talk,
  .WorkExperience_open {
    width: 6.5em;
  }

  .AcademicExperience_course,
  .AcademicExperience_project,
  .AcademicExperience_open {
    width: 6.5em;
  }
}
