.WorkExperience_container {
  text-align: right;
}

.WorkExperience_endDate {
  color: grey;
  margin-left: 50%;
  border-top: dotted grey 1px;
  margin: 0.1em;
}

.WorkExperience_startDate {
  color: grey;
  margin-left: 50%;
  border-bottom: dotted grey 1px;
  margin: 0.1em;
}

.WorkExperience_card {
  text-align: left;
  margin: 0 !important;
}

.WorkExperience_picture {
  height: 35px;
  width: 35px;
  margin-right: 0.5em;
}

.WorkExperience_company {
  margin: 0;
  font-weight: bold;
}

.WorkExperience_company a {
  text-decoration: none;
  color: black;
}

.WorkExperience_position {
  margin: 0;
}

.WorkExperience_points {
  list-style: none;
  padding: 0;
}

.WorkExperience_points a {
  text-decoration: none;
  color: black;
}

.WorkExperience_point {
  display: flex;
  flex-direction: row;
}

.WorkExperience_pointDescription {
  display: block;
  flex: 1; 
  margin: 0.1em;
  padding: 0.2em;
}

.WorkExperience_highlight,
.WorkExperience_talk,
.WorkExperience_open {
  display: block;
  padding: 0.2em; 
  margin: 0.1em;
  width: 6.1em;
  height: 1.7em;
  border-radius: 0.2em;
  font-variant: small-caps;
}

.WorkExperience_highlight {
  color: white;
  background-color: #3B5998;
}

.WorkExperience_talk {
  color: white;
  background-color: #59983b;
}

.WorkExperience_open {
  color: white;
  background-color: #4b3b98;
}
